.card-container {
    display: flex!important;
    width: 800px;
}

.card-product {
    display: flex!important;
    width: 800px!important;
}

.card-product-image {
    width: 10vw!important;
}

.card-product-info {
    display: flex;
    flex-direction: column;
}

.card-product-button {
    margin-bottom: 5px;
    text-decoration: none;
}

.card-product-button button {
    width: 200px!important;
}