@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.back {
    background: linear-gradient(36deg, #223f12 1%, #21e71a 99%)!important;
}

.font {
    font-family: 'Roboto', sans-serif!important;
}

.titulo {
    font-weight: bold;
}

.cursor {
    cursor: pointer;
    color: white;
}

.text-decorator-none {
    text-decoration: none;
}

.logo-tamanho{
    width: 133px;
    height: 82px;
    left: 32px;
    top: 19px;
}