    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
    }

    .img1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/pexels-polina-tankilevitch-4110255.jpg');
        background-position: center;
    }

    .img2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/pexels-pixabay-219794.jpg');
        background-position: center;
    }

    .img3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/insata.png');
        background-position: 10% 20%;
    }

    .mySwiperCategoria {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 18px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .prod1 {
        background-image: url('../../assets/images/pexels-pixabay-219794.jpg');
        border-radius: 100%;
    }

    .categoria-graos {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/pexels-polina-tankilevitch-4110255.jpg');
        border-radius: 100%;
        background-position: right;
        cursor: pointer;
        color: white;
    }

    .categoria-lacteos {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/61f11be99ae41.jpg');
        border-radius: 100%;
    }

    .categoria-sucos {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/900-473-sucos-diferentes.jpg');
        border-radius: 100%;
    }

    .categoria-higiene {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/melhores-produtos-de-limpeza.jpg');
        border-radius: 100%;
    }

    .swiper-image {
        border-radius: 100%;
    }

    .produto {
        position: absolute;
        left: center;
        color: rgb(0, 0, 0);
    }

    .preco {
        position: absolute;
        left: center;
        color: rgb(0, 0, 0);
    }

    .button-comprar-home {
        margin-top: 10px !important;
        /* margin-right: 80px; */
        color: white !important;
        background-color: #011540 !important;
        text-decoration: none !important;
        text-transform: uppercase !important;
        letter-spacing: 0.1cm !important;
        padding: 10px 30px;
        transition: 0.5s !important;
    }

    .button-comprar-home:hover {
        background-color: #025373 !important;
        letter-spacing: 0.12cm !important;
        box-shadow: 0 0 35px #031c8c !important;
    }

    .imagemok {
        width: 200px !important;
        height: 250px !important;
        transition: 0.5s !important;
    }

    .imagemok:hover {
        width: 200px !important;
        height: 250px !important;
        box-shadow: 0 0 20px #868686 !important;
    }