.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url('../../assets/images/pexels-polina-tankilevitch-4110255.jpg');
}

.img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url('../../assets/images/pexels-pixabay-219794.jpg');
}

.img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url('../../assets/images/pexels-fuzzy-rescue-3669640.jpg');
}