.bg {
    background: linear-gradient(36deg, #c4ff3a 15%, #30a302 65%)!important;
}

.pos-background {
    background: linear-gradient(36deg, #252525 15%, #383838 65%, #444444 5%)!important;
    height: 60px;
}

.font1 {
    color: white!important;
}

.redes {
    font-size: 60px!important;
    color: white!important;
}
.git{
    color: white;
    font-size: 50px!important;
}