.topo {
    margin-top: 20px;
}

.button-finalizar {
    color: white !important;
    background-color: #01401C!important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    letter-spacing: 0.1cm!important;
    padding: 10px 30px;
    transition: 0.5s!important;
}

.button-finalizar:hover {
    background-color: #02733E!important;
    letter-spacing: 0.12cm!important;
    box-shadow: 0 0 35px #038C4C!important;
}

.button-cancelar {
    margin-left: 20px!important;
    color: white !important;
    background-color: #73030D!important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    letter-spacing: 0.1cm!important;
    padding: 10px 30px;
    transition: 0.5s!important;
}

.button-cancelar:hover {
    background-color: #8C041D!important;
    letter-spacing: 0.12cm!important;
    box-shadow: 0 0 35px #8C041D!important;
}